<!-- Nav menu -->{% if site.navTopFix == 'yes' %}
<header class="navbar navbar-default navbar-fixed-top" role="banner">{% else %}
<header class="navbar navbar-default nav-standard">{% endif %}

	<div class="container">

		<div class="navbar-header">

			<!-- Mobile button -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- Logo Image -->
			<a class="navbar-brand brand logo-image" href="#top">
			<h1 class="logo logo-fixed"><img alt="{{site.name}}" src="assets/parking/img/logo.png"></h1>
			<p class="slogan"><img alt="{{site.slogan}}" src="assets/parking/img/logo-slogan.png"></p>
			</a>

		</div><!-- /.navbar-header -->

		<!-- Navigation -->
		<nav class="navbar-collapse collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li><a href="#stores">Locations</a></li>
				<li><a href="#catering">Catering</a></li>
				<li><a href="#franchising">Franchising</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav><!--/.nav-collapse -->

	</div><!-- /.container -->
</header>

