<section id="featured" class="hero-unit jumbotron masthead parallax">
	<div class="container">

		<div class="row">

			<div class="col-sm-3">
				<img src="assets/parking/img/emblem.png" alt="" />
			</div>

			<div class="col-sm-9">
			</div>
		</div>

	</div>
</section>

<section class="warning">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					 <h3><img class="icon-construction left" src="assets/parking/img/icon-construction.png" alt="" /> Thank you for visiting our site. Our website is currently undergoing maintenance. Please come back for more later. <img class="icon-construction right" src="assets/parking/img/icon-construction.png" alt="" /></h3>
				</div>
			</div>
		</div>
</section>


