<section id="franchising" class="parallax" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">

		<div class="col-sm-6 col-md-7">

		</div>

		<div class="col-sm-6 col-md-5">

			<h2>Franchising</h2>
			<p>Interested in joining the Noggi franchise?<br />Look close, you will fall in love with our recipe for success.</p>

			<a class="btn btn-large btn-inverse" href="mailto:franchising@noggi.com.au">Enquire</a>
			<a class="btn btn-large btn-inverse" href="https://dl.dropboxusercontent.com/u/276217822/Noggi%20E-brochure.pdf">E-Brochure</a>
			<!-- Button trigger modal -->
			<button class="btn btn-large btn-inverse" data-toggle="modal" data-target="#popup">&nbsp;View Available Locations&nbsp;</button>

		</div>

		</div>
	</div>
</section>