<form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://noggi.wufoo.eu/forms/mwcgptg0934mil/#public" role="form">

<ul>

<li id="foli1" class="notranslate notStacked set-selection">
	<fieldset>
	<legend id="title1" class="desc">SET
	<span id="req_1" class="req">*</span>
	</legend>

	<div class="form-group">
		<input id="radioDefault_1" name="Field1" type="hidden" value="" />

		<div class="radio-inline">
			<span>
				<label class="choice" for="Field1_0" >SET A</label>
				<input id="Field1_0" name="Field1" type="radio" class="field radio" value="SET A" tabindex="1" checked="checked" required />
			</span>
		</div><!-- /.radio-inline -->

		<div class="radio-inline">
			<span>
				<label class="choice" for="Field1_1" >SET B</label>
				<input id="Field1_1" name="Field1" type="radio" class="field radio" value="SET B" tabindex="2" required />
			</span>
		</div><!-- /.radio-inline -->

	</div><!-- /.form-group -->
	</fieldset>
</li>



<li id="foli2" class="notranslate section ">
	<section>
		<h3 id="title2">VALENTINE'S DETAILS</h3>
	</section>
</li>


<!-- VALENTINE'S NAME-->
<li id="foli46" class="notranslate ">
	<div class="form-group">
		<label class="desc" id="title46" for="Field46">
		WHO'S YOUR LUCKY VALENTINE? (NAME)
		<span id="req_46" class="req">*</span>
		</label>

		<div class="row">
			<div class="col-sm-4">
			<input id="Field46" name="Field46" type="text" class="form-control" value="" maxlength="255" tabindex="3" onkeyup="" required />
			</div>
		</div>
	</div>
</li><!-- Reciever Name -->


<!-- VALENTINE'S CONTACT NUMBER -->
<li id="foli11" class="notranslate ">
	<div class="form-group form-short">
	  <label class="desc" id="title11" for="Field11">JUST IN CASE WE CAN'T GET IN TOUCH (VALENTINE'S CONTACT NUMBER)</label>

		<div class="row">
			<div class="col-sm-4">
		<input id="Field11" class="form-control" name="Field11" tabindex="5" type="tel" maxlength="255" value="" />
		</div>
	</div>
</div>
</li>


<!-- ADDRESS -->
<li id="foli18" class="notranslate ">
	<div class="form-group">
		<label class="desc" id="title18" for="Field18">WHERE WOULD YOU LIKE US TO SEND YOUR LOVE TO? (ADDRESS)<span id="req_18" class="req">*</span></label>
		<input id="Field18" name="Field18" type="text" class="form-control" value="" maxlength="255" tabindex="6" onkeyup="" required />
	</div>
</li>

<!-- SUBURB -->
<li id="foli20" class="notranslate row">
	<div class="form-group col-sm-4">
		<label class="desc" id="title20" for="Field20">SUBURB/CITY</label>
		<select id="Field20" name="Field20" class="field select medium form-control" tabindex="7" >
			<option value="BURWOOD" >BURWOOD</option>
			<option value="CHATSWOOD" >CHATSWOOD</option>
			<option value="CROYDON" >CROYDON</option>
			<option value="EASTWOOD" >EASTWOOD</option>
			<option value="FIVE DOCKS" >FIVE DOCKS</option>
			<option value="MACQUARIE" >MACQUARIE</option>
			<option value="MEDOWBANK" >MEDOWBANK</option>
			<option value="NORTH SYDNEY" >NORTH SYDNEY</option>
			<option value="RYDE" >RYDE</option>
			<option value="STRATHFIELD" >STRATHFIELD</option>
			<option value="SYDNEY CBD" selected="selected">SYDNEY CBD</option>
			<option value="TOP RYDE" >TOP RYDE</option>
			<option value="WEST RYDE" >WEST RYDE</option>
		</select>
	</div>

	<div class="form-group col-sm-4">
		<label class="desc" id="title32" for="Field32">STATE</label>
		<select id="Field32" name="Field32" class="field select medium" tabindex="8" >
			<option value="NSW" selected="selected">NSW</option>
		</select>
	</div>

	<div class="form-group col-sm-4">
		<label class="desc" id="title21" for="Field21">POSTCODE</label>
		<input id="Field21" name="Field21" type="text" class="form-control" value="" maxlength="255" tabindex="9" onkeyup="" />
	</div>
</li>


<!-- DELIVERY VENUE TYPE -->
<li id="foli22" class="notranslate ">
	<div class="form-group">
		<label class="desc" id="title22" for="Field22">DELIVERY VENUE TYPE</label>
		<input id="Field22" name="Field22" type="text" class="form-control" placeholder="OFFICE, RESIDENTIAL, SCHOOL" onkeyup="" />
	</div>
</li>


<!-- YOUR DETAIL -->
<li id="foli23" class="notranslate section ">
	<section>
		<h3 id="title23">YOUR DETAILS</h3>
	</section>
</li>


<!-- YOUR NAME -->
<li id="foli47" class="notranslate row">
	<div class="form-group col-sm-4">
	<label class="desc" id="title47" for="Field47">NAME<span id="req_47" class="req">*</span></label>

	<input id="Field47" name="Field47" type="text" class="form-control" value="" maxlength="255" tabindex="10" onkeyup="" required />
	</div>
</li>

<!-- Mobile Number -->
<li id="foli27" class="notranslate row">
	<div class="form-group col-sm-6">
		<label class="desc" id="title27" for="Field27">MOBILE NUMBER<span id="req_27" class="req">*</span></label>
		<input id="Field27" class="form-control" name="Field27" tabindex="13" required type="tel" maxlength="255" value="" />
	</div>

<!-- Email Address -->
	<div class="col-sm-6">
		<label class="desc" id="title28" for="Field28">EMAIL ADDRESS<span id="req_28" class="req">*</span></label>
		<input id="Field28" name="Field28" type="email" spellcheck="false" class="form-control" value="" maxlength="255" tabindex="14" required />
	</div>
</li>


<!-- Address -->
<li id="foli34" class="notranslate ">
	<div class="form-group">
		<label class="desc" id="title34" for="Field34">ADDRESS</label>
		<input id="Field34" name="Field34" type="text" class="form-control" value="" maxlength="255" tabindex="15" onkeyup="" />
	</div>
</li>

<!-- Suburb -->
<li id="foli41" class="notranslate row">
	<div class="form-group col-sm-4">
		<label class="desc" id="title41" for="Field41">SUBURB/CITY</label>
		<input id="Field41" name="Field41" type="text" class="form-control" value="" maxlength="255" tabindex="16" onkeyup="" />
	</div>

	<div class="form-group col-sm-4">
		<label class="desc" id="title44" for="Field44">STATE</label>
		<select id="Field44" name="Field44" class="field select medium" tabindex="17" >
			<option value="ACT" >ACT</option>
			<option value="NSW" selected="selected">NSW</option>
			<option value="VIC" >VIC</option>
			<option value="QLD" >QLD</option>
			<option value="SA" >SA</option>
			<option value="WA" >WA</option>
			<option value="TAS" >TAS</option>
			<option value="NT" >NT</option>
		</select>
	</div>

	<div class="form-group col-sm-4">
		<label class="desc" id="title43" for="Field43">POSTCODE</label>
		<input id="Field43" name="Field43" type="text" class="form-control" value="" maxlength="255" tabindex="18" onkeyup="" />
	</div>
</li>


<!-- Personal message -->
<li id="foli29" class="notranslate ">
	<div class="form-group">
		<label class="desc" id="title29" for="Field29">PERSONALISED MESSAGE (MAXIMUM 50 WORDS)</label>
		<textarea id="Field29" name="Field29" class="form-control" spellcheck="true" rows="10" cols="50" tabindex="15" onkeyup="validateRange(29, 'word');"
		></textarea>

		<label class="word-counter" for="Field29">Maximum Allowed: <var id="rangeMaxMsg29">50</var> words.&nbsp;&nbsp;&nbsp; <em class="currently">Currently Used: <var id="rangeUsedMsg29">0</var> words.</em></label>
</div>
</li>


<!-- Special Instruction -->
<li id="foli30" class="notranslate ">
	<div class="form-group">
		<label class="desc" id="title30" for="Field30">SPECIAL INSTRUCTIONS</label>
		<textarea id="Field30" name="Field30" class="form-control" spellcheck="true" rows="10" cols="50" tabindex="16" onkeyup=""
	 placeholder="BE AWARE OF DOGS, DIFFICULT PARKING, BOSS MAY GET JEALOUS AND NO&hellip; WE CAN&#039;T SEND YOUR KISSES!"></textarea>
	</div>
</li>


<!-- BTN -->
<li class="buttons ">
	<div>
		<button type="submit" class="btn btn-default">NEXT</button>
	</div>
</li>


<li class="hide">
	<label for="comment">Do Not Fill This Out</label>
	<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
	<input type="hidden" id="idstamp" name="idstamp" value="RJ+4hoxP6PCBwOUrRHPz12yN38172G8249yrPIZ3Dj4=" />
</li>

</ul>
</form>

