<section id="featured" class="hero-unit jumbotron masthead">
	<div class="container header-text scroll-fade">
		<div class="row">
			<div class="col-sm-12">
				<h1><img src="assets/img/header-text.png" alt="Send Noggi to your love!" /></h1>
				<p class="first-child">Noggi Delivers Love on Valentine's Day</p>
				<p class="last-child">Available from 1st - 13th Feb 2014</p>
			</div>
		</div>
	</div>

	<div class="container set-photo">
		<div class="row">
			<div class="col-sm-12">
				<div class="youtube">
					<iframe width="920" height="529" src="//www.youtube.com/embed/GvCwetl1vFg" frameborder="0" allowfullscreen></iframe>
				</div>

				<img src="assets/img/valentine-photo.jpg" alt="Valentine day special package" />
			</div>
		</div>

			<div class="pricing">
				<h2><a href="#order" class="smooth-scroll"><strong>$35</strong></a></h2>
			</div>

	</div>

	<div class="container products">
		<div class="row">
			<div class="col-sm-12">

				<h3>SET A</h3>
				<p>STRAWBERRY NOGGI (MAXI) <span>+</span> CHOCOLATE BROWNIES <span>+</span> 4MACARONS <span>+</span> ROSE
				<span>+</span> LOVE HEART BALLOON <span>+</span> PERSONALISED MESSAGE IN THE BASKET</p>

				<h3>SET B</h3>
				<p>CHOCMINT NOGGI (MAXI) <span>+</span> STRAWBERRY TOPPINGS <span>+</span> 4MACARONS <span>+</span> ROSE
				<span>+</span> LOVE HEART BALLOON <span>+</span> PERSONALISED MESSAGE IN THE BASKET</p>

			</div>
		</div>
	</div>
</section>


<section id="deliveries">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			<h3><i class="icon-car first-child"></i>ALL DELIVERIES WILL BE MADE BETWEEN 10AM-5PM 14TH FEB <span class="last-child"><i class="icon-clock-615"></i> <i class="icon-clock-900"></i></span></h3>
			<p>PLEASE ENSURE YOUR VALENTINE WILL BE AVAILABLE TO RECEIVE THEIR SURPRISE ANYTIME BETWEEN THESE HOURS AT YOUR SPECIFIED ADDRESS.</p>
			</div>
		</div>
	</div>
</section>


<section id="areas">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<h3><i class="icon-map-pointer first-child"></i> NOGGI SPOONING VAN IS ONLY AVAILABLE IN THESE AREAS <i class="icon-map-pointer last-child"></i></h3>
				<h3>PLEASE REFER TO BELOW.</h3>
			</div>
		</div>

		<div class="row area-list">
			<div class="col-sm-3">
				<p>SYDNEY CBD</p>
				<p>NORTH SYDNEY</p>
				<p>CHATSWOOD</p>
			</div>

			<div class="col-sm-3">
				<p>CROYDON</p>
				<p>FIVE DOCK</p>
				<p>BURWOOD</p>
				<p>STRATHFIELD</p>
			</div>

			<div class="col-sm-3">
				<p>RYDE</p>
				<p>TOP RYDE</p>
				<p>WEST RYDE</p>
				<p>MEADOWBANK</p>
			</div>

			<div class="col-sm-3">
				<p>EASTWOOD</p>
				<p>MACQUARIE</p>
			</div>

		</div>
	</div>
</section>


<section id="order">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<p>
					<i class="icon-heart first-child"></i>
					<a href="#order-form" class="btn btn-default smooth-scroll" data-toggle="collapse" data-target="#order-form">PURCHASE</a>
					<i class="icon-heart last-child"></i>
				</p>

			</div>
		</div>
	</div>
</section>


<section id="order-form" class="collapse">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			{% include order-form.html %}
			</div>
		</div>
	</div>
</section><!-- /#contact-form -->