<section id="franchising" class="full-width-box parallax" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">

		<div class="col-sm-5 col-sm-offset-1">
		</div><!-- /.col-sm-6 -->

		<div class="col-sm-5 col-sm-offset-1">

			<h2>Franchising</h2>
			<p>Interested in joining the Noggi franchise?<br>Look close, you will fall in love with our recipe for success.</p>

			<a href="#contact" class="btn btn-lg scroll">Next</a>
			<a href="franchising.html" class="btn btn-lg">View</a>

		</div><!-- /.col-sm-6 -->

		</div>
	</div>
</section>