<section id="whatson" class="boxes">

<h2 class="section-title">What's On</h2>

  <!-- Contents -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      <a class="square-box hover-box-1" href="#">
        <img src="assets/images/box-01.jpg" alt="">

        <div class="description">
          <h3>Recruitment</h3>
          <p>Interested in joining<br> the Noggi family?</p>
        </div><!-- /.description -->
      </a>
    </div><!-- /.col-sm-4 -->

    <div class="col-sm-4">
      <a class="square-box hover-box-2" href="https://www.facebook.com/media/set/?set=a.714045998660349.1073741841.119455401452748&type=3">
        <img src="assets/images/box-02.jpg" alt="">

        <div class="description">
          <h3>Celebs at Noggi</h3>
          <p>Famous celebrities love<br> Noggi too.</p>
        </div><!-- /.description -->
      </a>
    </div><!-- /.col-sm-4 -->

    <div class="col-sm-4">
      <a class="square-box hover-box-3" href="http://statigr.am/tag/noggi">
        <img src="assets/images/box-03.jpg" alt="">

        <div class="description">
        <h3>Instagram</h3>
        <p>Check out what our fans<br> love about Noggi.</p>
        </div><!-- /.description -->
      </a>
    </div><!-- /.col-sm-4 -->


    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
