<section id="products" class="full-width-box parallax" data-stellar-background-ratio="0.2">
	<div class="container">
		<div class="row">

		<div class="col-sm-5 col-sm-offset-1">
			<h2>Our Products</h2>
			<p>We take 	our love for quality froyo seriously.</p>

			<a href="#locations" class="btn btn-lg scroll">Next</a>
			<a href="menu.html" class="btn btn-lg">View</a>

		</div><!-- /.col-sm-6 -->

		<div class="col-sm-5 col-sm-offset-1">
		</div><!-- /.col-sm-6 -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>