<section id="catering" class="full-width-box">
	<div class="container">
		<div class="row">

		<div class="col-sm-5 col-sm-offset-1">
			<h2>Catering</h2>
			<p>Take Noggi to your birthday, corporate catering, special event or any occasion and make it swirly special.</p>

			<a href="#franchising" class="btn btn-lg btn-white scroll">Next</a>
			<a href="catering.html" class="btn btn-lg btn-white">View</a>

		</div><!-- /.col-sm-6 -->

		<div class="col-sm-5 col-sm-offset-1">
		</div><!-- /.col-sm-6 -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>