<section id="about" class="full-width-box parallax" data-stellar-background-ratio="0.7">
	<div class="container">
		<div class="row">

		<div class="col-sm-5 col-sm-offset-1">
		</div><!-- /.col-sm-6 -->

		<div class="col-sm-5 col-sm-offset-1">
			<h2>About Us</h2>
			<p>We’re brigfun in froyo<br>
which is reflected in our Noggi culture<br>
where excitment and experience is valued.</p>

			<a href="#products" class="btn btn-lg btn-white scroll">Next</a>
			<a href="about.html" class="btn btn-lg btn-white">View</a>

		</div><!-- /.col-sm-6 -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>