/* Univers */
@font-face{
font-family:"Univers";
	src:url("../fonts/Univers-Condensed-Bold.eot?#iefix");
	src:url("../fonts/Univers-Condensed-Bold.eot?#iefix") format("eot"),
			url("../fonts/Univers-Condensed-Bold.woff") format("woff"),
			url("../fonts/Univers-Condensed-Bold.ttf") format("truetype"),
			url("../fonts/Univers-Condensed-Bold.svg#Univers-Condensed-Bold") format("svg");
}

/* default */
body {
	color: #333;
	font-size: 20px;font-size: 1.25rem;
	line-height: 1.5;
	}
	p, ul, ol {
	  margin: 0 0 18px;margin: 0 0 1.13rem;
		letter-spacing: 0.3px;
		}
		del { color: #ccc;}


/* Font family */
.navbar-nav a,
h1, h2, h3, h4, h5, h6,
.h1, .h2 {
	font-family: "Univers", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
	}
	body, p {
		font-family:'Proxima Nova','proxima-nova', Helvetica, Arial, sans-serif;
		letter-spacing: 1px !important;
	  }


/* Font style */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4,
.h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	line-height: inherit;
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #404040;
	letter-spacing: 1px !important;
	}
	h1 { font-size: 38px;font-size: 2.38rem; }
	h2 { font-size: 40px;font-size: 2.5rem;  }
	h3 { font-size: 28px;font-size: 1.75rem; }
	h4 { font-size: 18px;font-size: 1.13rem; }
	h5 { font-size: 16px;font-size: 1rem;    }
	h6 { font-size: 14px;font-size: 0.88rem; }

.light-weight,.lighter  { font-weight: lighter !important; }
.normal-weight { font-weight: normal !important;  }
.heavy-weight,.bolder  { font-weight: bold !important; }

.byline { color: #BDC3C7;}
.korean p { line-height: 1.68; }
.warning { color: #f40c5f; }
small { font-size: 14px; }
