<section class="hero-unit carousel-section masthead">

	<div id="myCarousel" class="carousel slide carousel-fade">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>

		<div class="carousel-inner">

			<div class="item item-01 active">
				<div class="bannerImage parallax">
						<div class="container">

							<div class="row">

								<div class="col-sm-3">
									<img alt="" src="assets/images/emblem.png">
								</div>

								<div class="col-sm-9">
								</div>
							</div><!-- /.row -->

						</div><!-- /.container -->
				</div><!-- /.bannerImage -->
			</div><!-- /.item-01 -->

			<div class="item item-02">
				<div class="bannerImage parallax">
						<div class="container">

							<div class="row">

								<div class="col-sm-3">
									<img alt="" src="assets/images/emblem.png">
								</div>

								<div class="col-sm-9">
								</div>
							</div><!-- /.row -->

						</div><!-- /.container -->
				</div><!-- /.bannerImage -->
			</div><!-- /.item-02 -->

			<div class="item item-03">
				<div class="bannerImage parallax">
						<div class="container">

							<div class="row">

								<div class="col-sm-3">
									<img alt="" src="assets/images/emblem.png">
								</div>

								<div class="col-sm-9">
								</div>
							</div><!-- /.row -->

						</div><!-- /.container -->
				</div><!-- /.bannerImage -->
			</div><!-- /.item-03 -->

			<div class="item item-04">
				<div class="bannerImage parallax">
						<div class="container">

							<div class="row">

								<div class="col-sm-3">
									<img alt="" src="assets/images/emblem.png">
								</div>

								<div class="col-sm-9">
								</div>
							</div><!-- /.row -->

						</div><!-- /.container -->
				</div><!-- /.bannerImage -->
			</div><!-- /.item-04 -->

		</div><!-- carousel-inner -->


		<div class="control-box">
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
		</div><!-- /.control-box -->

	</div><!-- /#myCarousel -->

</section><!-- /.carousel-section -->